.backgroungForm {
    background-image: url('../../assets/images/backgroung-contacto.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo{
    width: 200px;
    height: 150px;
}

.btn-send{
    background: #E67925;
    background-position: center;
    -webkit-box-shadow: 10px 14px 24px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 14px 24px 1px rgba(0,0,0,0.57);
    box-shadow: 10px 14px 24px 1px rgba(0,0,0,0.57);
    color:white;
    width: 12%;
    font-size: 25px;
    border-radius: 5%;
}

.btn-send:hover{
    background: #fff;
    border-color: #E67925;
    color: #E67925;
}