
/* Fuentes */ 
@font-face{
    font-family: Tw;
    src: url('../../fonts/tw-cen-mt-condensed-extra-bold.ttf');
}


/* All */
h1 , h2 ,h3 , button {
    font-family: Tw;
}

/* Nav */
.nav{
    /* background-color: #F15A24!important; */
    background-image: url('../../assets/images/NavBgP.PNG');
    margin-left: 10px;
}

.nav-link{
    font-family: Tw;
    color: white!important;
    font-size: 25px;
}

.cotizar{
    background-image: url('../../assets/images/bts.png');
    background-position: center;
    -webkit-box-shadow: 10px 14px 24px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 14px 24px 1px rgba(0,0,0,0.57);
    box-shadow: 10px 14px 24px 1px rgba(0,0,0,0.57);
    color:white;
    padding: 15px;
    font-size: 25px;
    border-radius: 5%;
}


/* Header */
.header{
    background-image: url('../../assets/images/NavBgP.PNG');
}

