
.IndexPoint{
    background-image: url('../../assets/images/Slide.jpg') ;
    background-position: center;
    /* Arbo bajo*/
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 100%, 60% 80%, 40% 80%, 0 100%, 0% 43%, 0 0);
    height: 1050px;
}

.Ciudad{
    padding-top: 5%;
    height: auto;
    width: 90%;
    display:block;
    margin:auto;
}

.Reunion{
    margin-top: -100px!important;
    height: auto;
    display:block;
    margin:auto;
}